@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--transition-property: all;
	--transition-duration: 500ms;
	--background-size: cover;
	--background-position: center;
}

.header-gradient,
.hero-grad-dark,
.hero-gradient-dark,
.hero-gradient-light,
.section4-bg,
.section5-bg,
.gallery-sec-bg,
.footer-gradient,
.middlecard {
	transition-property: var(--transition-property);
	transition-duration: var(--transition-duration);
}

.hero-grad-dark,
.hero-gradient-dark,
.hero-gradient-light,
.section4-bg,
.section5-bg,
.gallery-sec-bg,
.middlecard {
	background-size: var(--background-size);
	background-position: var(--background-position);
}

.header-gradient {
	background: linear-gradient(
		#1167b1,
		#187bcd,
		#2a9df4,
		#2a9df4,
		#187bcd,
		#1167b1
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero-grad-dark {
	background-image: linear-gradient(
		to right,
		#021429 4%,
		#052447 50%,
		#021429 92%
	);
}

.hero-gradient-dark {
	background-image: url("../assets/images/hero2bg.png"),
		linear-gradient(to right, #021429 4%, #052447 50%, #021429 92%);
}

.hero-gradient-light {
	background-image: url("../assets/images/hero2bg.png"),
		linear-gradient(90deg, #ffffff 0%, #d0efff 100%);
}

.section4-bg {
	background-image: url("../assets/images/section4bg.png");
}

.section5-bg {
	background-image: url("../assets/images/section5bg.png");
}

.gallery-sec-bg {
	background-image: url("../assets/images/GallerySecBg.png");
	background-color: #2a9df4;
}

.footer-gradient {
	background-image: linear-gradient(
		to right,
		#021429 4%,
		#052447 50%,
		#021429 92%
	);
}

.middlecard {
	background-color: #1167b1;
	background-image: url("../assets/images/middlecard.png");
}
